.logement-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.tag {
  background-color: #fc5e5e;
  color: white;
  padding: 5px 30px;
  border-radius: 15px;
  font-size: 20px;
}

@media (max-width: 768px) {

.tag {
  font-size: 15px;
}

}