.collapse {
  border-radius: 8px;
  margin: 40px 280px;
  gap: 30px;
}

.collapse-header {
  background-color: #fc5e5e;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-radius: 8px;
}

.collapse-header h3 {
  font-size: 16px;
  color: #fff;
  font-size: 28px;
}

.collapse-icon i {
  color: #f9f9f9;
  font-size: 30px;
}


.collapse-content {
  font-size: 18px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  pointer-events: none;
  padding-top: 10px;
}

.collapse-content.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* VERSION MOBILE */

@media (max-width: 768px) {
  .collapse {
    margin: 20px;
    gap: 15px;
  }

  /* Header do collapse */
  .collapse-header {
    height: 40px;
    padding: 8px 12px;
  }

  .collapse-header h3 {
    font-size: 16px;
  }

  .collapse-content {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 12px;
  }

  .collapse-icon i {
    font-size: 18px;
  }
}